@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #1C1C1C;
    text-align: center;
    margin: 0;
}

#logo {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 40px;
    margin-top: 20px;
}

.header {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
}

.tab {
    padding: 10px 20px;
    background: #3ed77e;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}


#particles-js {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1; 
    background: #0d0d0d; 
}


.decrypt-tab, .encrypt-tab {
    height: 60px;
    width: 300px;
    border-radius: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background: #FAF9F6;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    height : 500px ;
}

.icons img {
    width: 30px;
    margin: 5px;
}

input {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 40px;
    height: 35px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
}

button:hover {
    background-color: #0056b3;
}
